---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Badge from "../components/Badge.astro";
import LinkedinIcon from "../components/Icons/Linkedin.astro";
import GithubIcon from "../components/Icons/Github.astro";
import MailIcon from "../components/Icons/Mail.astro";
//import Experiencia from "../components/Experiencia.astro";
import CodeIcon from "../components/Icons/Code.astro";
import Proyectos from "../components/Proyectos.astro";
import UserIcon from "../components/Icons/User.astro";
import SobreMi from "../components/SobreMi.astro";
import Footer from "../components/Footer.astro";
import SocialPill from "../components/Icons/SocialPill.astro";
---

<Layout
  title="Leonardo Rico - Portfolio de Ingeniero Informático"
  description="Contrata al mejor programador del mundo"
>
  <main class="px-6 md:px-20 lg:px-4">
    <SectionContainer
      className="py-32 md:py-36 lg:py-44 pb-28 md:pb-44 lg:pb-48"
    >
      <h1
        class="flex flex-row font-bold gap-x-2 md:gap-x-4 text-lg md:text-2xl lg:text-3xl pb-10 text-white animate-fade-in-up"
      >
        Hola, soy<strong class="text-blue-700">Ingeniero Informatico</strong>
        <a
          href="/ex2_aplica.pdf"
          download
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>

      <h2
        class="max-w-[700px] text-sm md:text-base lg:text-xl opacity-80 text-pretty text-white"
      >
        Estoy en busca de una oportunidad laboral competente para aplicar y
        expandir mis conocimientos técnicos, contribuyendo al desarrollo de
        software. Estoy emocionado por la posibilidad de colaborar en proyectos
        innovadores y aprender de profesionales experimentados en la industria.
      </h2>

      <nav class="flex flex-wrap gap-4 mt-8 animate-fade-in-down">
        <SocialPill href="https://www.linkedin.com/in/leonardo-rico/" 
          className="hover:border-blue-500 hover:bg-blue-500 hover:bg-opacity-25 duration-300 ease">
          <LinkedinIcon class="size-4 lg:size-6" />
          Linkedin
        </SocialPill>

        <SocialPill href="https://github.com/HardCoder05" 
          className="hover:border-purple-500 hover:bg-purple-500 hover:bg-opacity-20 duration-300 ease">
          <GithubIcon class="size-5 lg:size-6" />
          Github
        </SocialPill>

        <SocialPill href="mailto:rio88920@gmail.com" 
          className="hover:border-red-500 hover:bg-red-500 hover:bg-opacity-25 duration-300 ease">
          <MailIcon class="size-4 lg:size-6" />
          rio88920@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <!-- SectionContainer id="experiencia">
      <h2 class="text-white text-xl lg:text-2xl font-semibold mb-8">
        Experiencia Laboral
      </h2>
      <Experiencia />
    </SectionContainer -->

    <SectionContainer id="proyectos" className="mb-16 lg:mb-24">
      <h2
        class="text-xl lg:text-3xl font-semibold mb-6 flex gap-x-5 items-center text-white"
      >
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Proyectos />
    </SectionContainer>

    <SectionContainer id="sobre-mi" className="pt-16 pb-14 lg:pb-10">
      <h2
        class="flex gap-x-4 text-white text-xl lg:text-2xl font-semibold items-center mb-8"
      >
        <UserIcon class="size-7" />
        Sobre Mi
      </h2>
      <SobreMi />
    </SectionContainer>
  </main>
  <Footer />
</Layout>
