
<footer class="shadow bg-black">
    <div class="mx-auto max-w-screen-xl p-8 flex flex-col md:flex-row md:justify-between">
        <span class="text-sm text-gray-400 text-center md:text-left">© 2024
            <a href="/" class="hover:underline">LeoDev</a>
        </span>
        <ul class="flex items-center text-sm font-medium text-white justify-center ml-5 md:justify-start">
            <li>
                <a href="#" class="hover:text-blue-700 hover:underline me-4 md:me-6">Sobre mi</a>
            </li>
            <li>
                <a href="#" class="hover:text-blue-700 hover:underline me-4 md:me-6">Contacto</a>
            </li>
        </ul>
    </div>
</footer>

