<!-- backdrop-blur-sm -->
<nav class="sticky top-0 z-50 bg-black/20">
  <div class="max-w-screen-xl py-3">
    <div class="flex h-14 justify-center lg:justify-end">
      <ul
        class="flex flex-row font-medium mt-6 space-x-4 md:space-x-10 lg:space-x-8 rtl:space-x-reverse text-sm
          md:text-lg lg:text-xl"
      >
        <li>
          <a
            href="#top"
            class="text-[#ffffff] hover:text-blue-700"
            aria-current="page">Inicio</a
          >
        </li>
        <!-- li>
                    <a
                        href="#experiencia"
                        class="text-[#ffffff] hover:text-blue-700"
                        >Experiencia</a
                    >
                </li -->
        <li>
          <a href="#proyectos" class="text-[#ffffff] hover:text-blue-700"
            >Proyectos</a
          >
        </li>
        <li>
          <a href="#sobre-mi" class="text-[#ffffff] hover:text-blue-700"
            >Sobre mi</a
          >
        </li>
        <li>
          <a
            href="mailto:rio88920@gmail.com"
            class="text-[#ffffff] hover:text-blue-700">Contacto</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
