---
import CodeIcon from '../components/Icons/Code.astro'
---

<!-- Titulo Proyectos color blanco y con un simbolo de codigo antes -->
<h2 class="text-white text-2xl md:text-3xl font-semibold mt-16 flex gap-x-3 items-center">
  <CodeIcon/>Proyectos
</h2>

<!-- Contenedor de proyectos con a la izquierda la imagen del proyecto y a la derecha la descripcion de proyecto, ademas agregar
  botones uno para mostrar enlace al repo y otro para mostrar la pagina del proyecto -->
<div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-8">
  <!-- Proyecto 1 -->
  <div class="flex flex-col md:flex-row gap-4">
    <!-- Imagen del proyecto -->
    <img src="/images/proyecto1.png" alt="Proyecto 1" class="rounded-lg w-full md:w-1/2"/>
    <!-- Descripcion del proyecto -->
    <div class="flex flex-col gap-4 md:w-1/2">
      <h3 class="text-white text-xl font-semibold">Proyecto 1</h3>
      <p class="text-white">Descripcion del proyecto 1</p>
      <!-- Botones para mostrar enlace al repo y a la pagina del proyecto -->
      <div class="flex gap-4">
        <a href="#" class="bg-white text-black px-4 py-2 rounded-lg">Repo</a>
        <a href="#" class="bg-white text-black px-4 py-2 rounded-lg">Ver</a>
      </div>
    </div>
  </div>
  <!-- Proyecto 2 -->
  <div class="flex flex-col md:flex-row gap-4">
    <!-- Imagen del proyecto -->
    <img src="/images/proyecto2.png" alt="Proyecto 2" class="rounded-lg w-full md:w-1/2"/>
    <!-- Descripcion del proyecto -->
    <div class="flex flex-col gap-4 md:w-1/2">
      <h3 class="text-white text-xl font-semibold">Proyecto 2</h3>
      <p class="text-white">Descripcion del proyecto 2</p>
      <!-- Botones para mostrar enlace al repo y a la pagina del proyecto -->
      <div class="flex gap-4">
        <a href="#" class="bg-white text-black px-4 py-2 rounded-lg">Repo</a>
        <a href="#" class="bg-white text-black px-4 py-2 rounded-lg">Ver</a>
      </div>
    </div>
  </div>







