

<!--section class="">
  <div class="max-w-4xl mx-auto px-4">
    <h2 class="text-3xl font-bold text-white">Sobre mí</h2>
    <div class="flex flex-col md:flex-row items-center">
      <div class="md:w-1/2 ">
      </div>
      <div class="md:w-1/2 md:pl-8">
        <p class="text-white ">
          Me llamo Miguel Ángel pero mis amigos me llaman midu. Empecé en la programación con un Amstrad, tenía 10 años. 
          Actualmente estoy liderando equipos de desarrollo en multinacionales.
        </p>
        <p class="text-white ">
          Algunos de mis éxitos incluyen colaborar con Mozilla para el desarrollo de las primeras apps en su sistema 
          FirefoxOS. Aunque hoy está desaparecido fue un gran avance en el mundo del desarrollo web.
        </p>
        <p class="text-white">
          Como creador de contenido, cuento con el canal de habla hispana más visto del mundo en la categoría de Software 
          & Game Development en Twitch. Mi objetivo es mejorar la empleabilidad de la comunidad hispana y el acceso a 
          contenido de calidad.
        </p>
      </div>
    </div>
  </div>
</section-->