---
const personalImageAlt = "Hard CODER";
---

<article
  class="flex items-center justify-center gap-8 lg:gap-24 text-white flex-col lg:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-blue-500 dark:[&>p>strong]:text-yellow-100
      [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty"
  >
    <p class="text-sm lg:text-base">
      ¡Hola y bienvenido a mi portafolio! Soy un <strong
        >entusiasta estudiante de Informática</strong
      > apasionado por la tecnología y el desarrollo de software. A pesar de estar
      iniciando mi carrera, he adquirido sólidas habilidades en diversos lenguajes
      de programación y frameworks.
    </p>

    <p class="text-sm lg:text-base">
      Mi enfoque va más allá de escribir código; me esfuerzo por <strong
        >comprender las necesidades del usuario</strong
      > y crear soluciones efectivas y elegantes. Me encanta resolver problemas y
      siempre busco impulsar la <strong>innovación</strong> y la <strong
        >eficiencia</strong
      > en cada proyecto en el que participo.
    </p>

    <p class="text-sm lg:text-base">
      Estoy emocionado por la posibilidad de <strong
        >colaborar en equipos dinámicos</strong
      > y contribuir con mi creatividad y pasión por la tecnología. Siempre estoy
      abierto a nuevas ideas y desafíos, ¡así que no dudes en conectarte conmigo
      para explorar cómo podemos trabajar juntos y alcanzar el éxito tecnológico!
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/intro.jpg"
    alt={personalImageAlt}
    class="rounded-full size-44"
    data-aos="fade-down"
  />
</article>
