<a
  class="text-white rounded-full bg-white/5 border border-white/10 flex gap-x-2
		hover:bg-white/10 hover:scale-110 items-center justify-center md:px-4 md:py-2 px-2 py-1 transition"
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
>
  <slot />
</a>
